<div class="container-fluid">
    <h1 class="text-center">About</h1>
    <p>
        This tool can be essential for anyone with learning difficulties to communicate non-verbally about what they want to do on a bi-weekly basis.
    </p>
    <p>
        This application also eliminates the upkeep of paper symbols, providing a rich interface for carers/support workers and the individual to interact can with a more modernized approach.
    </p>
</div>
<div class="container-fluid">
    <h1 class="text-center">Instructions</h1>
    <p>Click <a href="https://activity-calendar-desktop-app.s3.us-east-2.amazonaws.com/ActivityCalender2021-Release-v1.0.5.zip" target="_blank" rel="noopener noreferrer">here</a> to download the application.</p>
</div>
<div class="container-fluid">
    <h1 class="text-center">FAQ</h1>
    <p>Coming Soon...</p>
</div>
<div class="container-fluid">
    <h1 class="text-center">Roadmap</h1>
    <p>Coming Soon...</p>
</div>

<!-- Boilerplate code future functionality upon proj completion
    <h1>Documentation</h1>
<nav class="nav flex-column">
    <a class="nav-link" routerLink="/getting-started">Getting Started</a>
    <a class="nav-link" routerLink="/general">General Use Instructions</a>
    <a class="nav-link" routerLink="/faqs">FAQs</a>
</nav> -->