*{
    color: white;
}
.contact-body {
    overflow: scroll !important;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000 !important;
}
.container-fluid{
    margin: 0 auto;
    padding: 0 20%;
}
a{
    color: #04f6b9;
    text-decoration: none;
}
a:hover{
    color: #038060;
}
a:visited{
    color: #6742ce;
}

/*
Needed CSS Classes for form from Themeforest Theme
*/

.contact-form .column
{
    margin-bottom: 30px;
}
.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea
{
    background-color: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 30px 5px 5px 5px;
    font-size: 16px;
    min-height: 50px;
    padding: 14px 12px 14px 32px;
    transition: all .3s linear;
    -webkit-border-radius: 30px 5px 5px 5px;
}
.contact-form textarea
{
    min-height: 140px;
}
.contact-form .wpcf7-form-control-wrap:before
{
    display: none;
}
.contact-form input[type=text]:hover,
.contact-form input[type=text]:focus,
.contact-form input[type=email]:hover,
.contact-form input[type=email]:focus,
.contact-form textarea:hover,
.contact-form textarea:focus
{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.contact-form button[type=submit]
{
    display: inline-block;
    position: relative;
    width: 100%;
}
.contact-form button[type=submit]:before
{
    color: #fff;
    content: '\f1d8';
    font-family: Fontawesome;
    font-style: normal;
    font-weight: normal;
    left: 160px;
    margin: auto;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 21px;
}
.contact-form button[type=submit]
{
    background: #16e2ef;
    border: 0;
    border-radius: 30px 5px 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin: 0 0 50px;
    outline: none;
    padding: 18px 10px 17px 10px;
    width: 100%;
}
.contact-form button[type=submit]:hover
{
    background-image: none;
    background: #139daf;
}

/*----*****---- << 1.1 - Business Contact Form >> ----*****----*/
.business-contact-form
{
    background: #fff;
    clear: both;
    float: left;
    margin: 0 0 10px;
    padding: 30px 15px;
    position: relative; 
    width: 100%;
}
.business-contact-form h2
{
    font-size: 20px;
}
.business-contact-form:before
{
    border: 10px solid rgba(255, 255, 255, .4);
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px; 
    width: 100%;
}
.business-contact-form input[type='text'],
.business-contact-form input[type='email'],
.business-contact-form textarea
{
    background: rgba(0, 0, 0, .02);
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 3px;
    padding: 19px 15px 18px;
}
.business-contact-form textarea
{
    height: 134px;
}
.business-contact-form input[type='submit']
{
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    padding: 20px 20px 17px;
    text-transform: none;
    width: 100%;
}

.business-contact-form input[type='text']:focus,
.business-contact-form input[type='email']:focus,
.business-contact-form textarea:focus
{
    border: 1px solid rgba(0, 0, 0, .2);
}

.business-contact-social li
{
    margin: 0 30px;
}
.business-contact-social li a
{
    color: #000; 
    font-size: 20px;
}

/*--------------------------------------------------------------
	2.0 - DT Responsive
	--------------------------------------------------------------*/

/* Note: Design for a width of 768px */
@media only screen and (min-width:768px) and (max-width:991px)
{
    /** Business **/
    .business-contact-social li
    {
        margin: 0 20px;
    }
}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px)
{
    
    /** Contact-details-on-map **/
    .dt-sc-contact-details-on-map:after
    {
        z-index: -1;
    }
    .dt-sc-contact-details-on-map .dt-sc-map-overlay
    {
        position: inherit;
    }
    .dt-sc-contact-details-on-map .dt-sc-map-overlay .dt-sc-contact-info.type3
    {
        font-size: 13px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 319px)
{
    /** Business **/
    .business-contact-form
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .business-contact-social li
    {
        margin: 0 5px;
    }
}