.home-title{
    font-size: 2.5rem;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, #7e50fb, #6742ce 25%, #139daf 50%, #04f6b9 75%);
    /* FROM JACK'S SAMPLE
    background: -webkit-linear-gradient(45deg, #eb4873, #f48418 20%, #f6cd4f 40%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.period{
    background: -webkit-linear-gradient(45deg, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    width: 100%;
    object-fit: scale-down;
}

.cal-icon{
    height: 450px;
    width: 450px;
    object-fit: cover;
    image-rendering: crisp-edges;
}
